streamlit
langgraph
langchain
langchain-groq
groq
langchain-google-genai
streamlit-mic-recorder
python-dotenv
flask
python-dotenv
requests
groq
langchain-google-genai
noisereduce
soundfile
numpy
scipy